<%= form_for @iten, :html => { :class => "form-horizontal iten" } do |f| %>

  <% if @iten.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@iten.errors.count, "error") %> prohibited this iten from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @iten.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :produto_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :produto_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:produto_id) %>
  </div>
  <div class="form-group">
    <%= f.label :quantidade, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :quantidade, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quantidade) %>
  </div>
  <div class="form-group">
    <%= f.label :quantidademinima, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :quantidademinima, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quantidademinima) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                itens_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
